.div1{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : brown;
    border-radius:24px;
}

.div2{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : brown;
    border-radius:24px;
    
}
.div3{
    width: 300px;
    height: 500px;
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : brown;
    border-radius:24px;
    
}
.divmaman{
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 5%;
}

.divmaman div{
    border: 1px solid black;
    border-radius: 24px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px black;
}
.divmaman div:hover {
    scale: 1.1;
    transition: 0.5s ease-in-out;
}
img{
    
    height: 300px;
    animation: monter-descendre 1.5s infinite;
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes monter-descendre {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    background-color: beige;
    color:grey;
    font-weight: bold;
    font-size: 15px;
}

.btn:hover{
    cursor: pointer;
    background-color: gray;
    color: beige;
    transition: 0.5s ease-in-out;
}

.nomBotte{
    font-weight: bold,
    color rgb(51,28,1);
    margin : 1rem 0rem;
}