
.divInput{
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 550px;
}

.input1{
    width: 20%;
    padding: 10px;
    margin: 10px;
}

.check{
    padding: 10px;
    margin: 10px;
}
.button1{
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.button2{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;  
}

.button2:hover{
    background-color: blue;
    color: white;
}

.div1{
    width: 200px;
    height: 200px;
    background-color:red
    
}

.div2{
    width: 200px;
    height: 200px;
    background-color:blue
}

.div3{
    width: 200px;
    height: 200px;
    background-color:yellow
}

.div4{
    width: 200px;
    height: 200px;
    background-color:beige
}

h2{
    text-align: center;
    color: blue;
}
.divmaman1{
    display:flex;
    gap: 10px;
}

.divmaman2{
    display:flex;
    justify-content: space-between;
}

.divmaman3{
    display:flex;
    justify-content: space-evenly;
}

.divmaman4{
    display:flex;
    justify-content: center;
}

.divmaman5{
    display:flex;
    justify-content: space-around;
}